<div class="mx-auto container relative z-0 px-4 mt-6">
    <div class="flex flex-col-reverse md:flex-row md:items-center">
        <div class="md:w-3/5 md:pt-24 pb-10 lg:py-32 xl:py-48">
            <h1
                class="text-4xl lg:text-6xl xl:text-8xl font-black text-white text-center md:text-left tracking-tighter f-f-i md:w-7/12 leading-tight text-heading-color">
                Contact
            </h1>
        </div>
        <div class="w-1/2 sm:w-2/5 pt-5 md:pt-10 m-auto flex items-center overflow-hidden">
            <img class="w-full" src="assets/images/contact-us.svg" alt="about-us">
        </div>
    </div>
</div>

<app-select-car></app-select-car>


<section class="mx-auto container flex flex-col-reverse md:flex-row md:items-center py-8 relative" id="contactInfo">
    <div class="mx-auto" id="generalInfo">
        <div class="flex lg:text-4xl xs:text-sm md:text-lg md:mb-4 sm:mb-2 lg:mb-8" id="phoneNumber">
            <mat-icon class="mr-4 text-secondary-500">contact_phone</mat-icon>
            <h6 class="text-white font-light">+40 771 345 939</h6>
        </div>
        <div class="flex lg:text-4xl xs:text-sm md:text-lg md:mb-4 sm:mb-2 lg:mb-8" id="locationAddr">
            <mat-icon class="mr-4 text-secondary-500">place</mat-icon>
            <h6 class="text-white font-light">Hatman Luca Arbore, Constanta</h6>
        </div>
        <div class="flex lg:text-4xl xs:text-sm md:text-lg" id="emailAddress">
            <mat-icon class="mr-4 text-secondary-500">email</mat-icon>
            <h6 class="text-white font-light">vladutdone@gmail.com</h6>
        </div>
    </div>

    <div class="w-1/2 sm:w-2/5 mb-8 m-auto flex items-center overflow-hidden" id="googleMaps">
        <google-map [center]="center">
            <map-marker [position]="markerPos"></map-marker>
        </google-map>
    </div>
</section>