<div class="mx-auto container relative z-0 px-4 xl:px-0">
    <div class="flex flex-col-reverse md:flex-row">
        <div class="md:w-3/5 md:pt-24 pb-10 lg:py-32 xl:py-48">
            <h1
                class="text-3xl lg:text-4xl xl:text-6xl font-black text-white text-center md:text-left tracking-tighter f-f-i md:w-7/12 leading-tight text-heading-color">
                Servicii profesionale pentru modernizarea si modificarea electrica a autoturismelor</h1>
            <h2 class="md:w-8/12 py-4 text-center md:text-left md:py-8 text-white text-lg lg:text-2xl">Pregatiti
                mereu sa dam un nou look masinii tale!</h2>
            <div class="w-full flex justify-center md:block">
                <button
                    class="xs:p-2 uppercase hover:border-primary-600 transition-all mr-4 border-white border-2 py-2 px-8 lg:py-2 lg:px-8 rounded-sm  text-white text-sm md:text-lg f-f-p">Portofoliu</button>
                <button
                    class="xs:p-2 uppercase hover:bg-primary-600 hover:border-primary-600 bg-primary-700 border-2 border-primary-700 transition-all py-2 px-8 lg:py-2 lg:px-8 rounded-sm  text-white text-sm md:text-lg f-f-p">Contact</button>
            </div>
        </div>
        <div class="w-1/2 sm:w-2/5 pt-5 md:pt-0 m-auto flex items-center overflow-hidden">
            <div class="grid grid-rows-2">
                <div class="row-span-3">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
                <div class="col-span-2">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
            </div>

            <div class="grid grid-rows-3">
                <div class="row-span-3">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
                <div class="col-span-2">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
                <div class="col-span-2">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
            </div>

            <div class="grid grid-rows-2">
                <div class="row-span-3">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
                <div class="col-span-2">
                    <img src="../../../../assets/images/rectangle.jpg" alt="Instagram post" />
                </div>
            </div>
        </div>
    </div>
</div>

<app-select-car></app-select-car>

<section class="flex justify-center mt-10 p-2" id="portofolioSection">
    <div class="grid grid-cols-2 gap-2 md:grid-cols-4 md:gap-4">
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
        <div>
            <img src="../../assets/images/rectangle2.jpg" />
        </div>
    </div>
</section>