<section class="p-2">
    <div class="py-5 flex justify-center">
        <div class="flex items-center justify-between" id="mediaIcon">
            <h1 class="font-semibold md:mr-2 text-white xs:text-[20px] text-4xl md:text-6xl">Alege masina ta</h1>
            <div class="mt-10 xs:mt-5">
                <img src="../../../../assets/images/arrow.svg" alt="arrow" class="ml-2 w-auto h-auto" />
            </div>
        </div>
    </div>

    <div class="py-10 px-5 rounded-xl mx-auto md:w-2/3 bg-transparent/10">
        <div class="md:flex md:justify-center xs:block xs:text-center">
            <select class="form-select xs:w-2/3 md:w-1/3 mr-2 mx-auto xs:mb-2 md:mb-0 rounded-sm">
                <option value="1">Producator</option>
                <option value="2">Producator</option>
                <option value="3">Producator</option>
            </select>
            <select class="form-select xs:w-2/3 md:w-1/3 mr-2 mx-auto xs:mb-2 md:mb-0 rounded-sm">
                <option value="1">Model</option>
                <option value="2">Model</option>
                <option value="3">Model</option>
            </select>

            <button
                class="xs:p-2 uppercase mx-auto w-1/3 hover:bg-primary-600 hover:border-primary-600 bg-primary-700 border-2 border-primary-700 transition-all py-2 px-8 lg:py-2 lg:px-8 rounded-sm  text-white text-sm md:text-lg f-f-p">Cauta</button>
        </div>
    </div>
</section>