<div class="mx-auto container relative z-0 px-4 mt-6">
    <div class="flex flex-col-reverse md:flex-row md:items-center">
        <div class="md:w-3/5 md:pt-24 pb-10 lg:py-32 xl:py-48">
            <h1
                class="text-4xl lg:text-6xl xl:text-8xl font-black text-white text-center md:text-left tracking-tighter f-f-i leading-tight text-heading-color">
                Lumini ambientale
            </h1>
        </div>
    </div>
</div>

<app-select-car></app-select-car>

<section class="flex justify-center mt-10 p-6" id="portofolioSection">
    <div class="grid grid-cols-2 gap-2 md:grid-cols-5 md:gap-4">
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022.JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (2).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (3).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (4).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (5).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (6).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/tesla/Tesla Model 3 2022 (7).JPG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Tesla Model 3 2022</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/Audi A4 B8 2010 (3).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A4 B8 2010</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/A4 B8 2010 (2).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A4 B8 2010</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/A4 B8 2010 (4).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A4 B8 2010</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/Audi A6 C8 (2).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A6 C8</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/Audi A6 C8 (5).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A6 C8</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/audi/Audi A6 C8 (7).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Audi A6 C8</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/bmw/BMW F01 - Seria 7 (2).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">BMW F01 - Seria 7</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/bmw/BMW F01 - Seria 7 (5).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">BMW F01 - Seria 7</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/bmw/BMW F01 - Seria 7 (3).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">BMW F01 - Seria 7</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/mercedes/C Class 2012.JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Mercedes-Benz C Class 2012</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/mercedes/C Class 2012 (2).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Mercedes-Benz C Class 2012</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/mercedes/C Class 2012 (3).JPG" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Mercedes-Benz C Class 2012</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020.JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020 (2).JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020 (4).JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020 (11).JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020 (14).JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/vw/Passat B8 2020 (15).JPEG" />
            <div
                class="absolute top-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[25%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">Volkswagen Passat B8 2020</h1>
            </div>
        </div>
    </div>
</section>