<div class="mx-auto container relative z-0 px-4 xl:px-0">
    <div class="flex flex-col-reverse md:flex-row md:items-center">
        <div class="md:w-3/5 md:pt-24 pb-10 lg:py-32 xl:py-48">
            <h1
                class="text-4xl lg:text-6xl xl:text-8xl font-black text-white text-center md:text-left tracking-tighter f-f-i md:w-7/12 leading-tight text-heading-color">
                Portofoliu
            </h1>
        </div>
        <div class="w-1/2 sm:w-2/5 pt-5 md:pt-10 m-auto flex items-center overflow-hidden">
            <img class="w-full" src="assets/images/portofolio.svg" alt="about-us">
        </div>
    </div>
</div>

<section class="flex justify-center mt-10 p-2" id="portofolioSection">
    <div class="grid grid-cols-2 gap-2 md:grid-cols-5 md:gap-4">
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
        <div class="group relative">
            <img class="w-full object-cover" src="../../assets/images/rectangle2.jpg" />
            <div
                class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-center items-center bg-black/90 opacity-0 group-hover:h-[45%] group-hover:opacity-100 duration-500">
                <h1 class="xs:text-lg md:text-2xl text-white">carname</h1>
            </div>
        </div>
    </div>
</section>