<div>
    <div class="mx-auto w-full relative z-20">
        <nav class="bg-white w-full absolute xl:border-b">
            <div class="hidden xl:flex w-full f-f-p justify-center items-center py-6 relative">
                <div class="md:w-1/2">
                    <ul class="flex justify-between w-full items-center text-gray-600">
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="">Acasa</a>
                        </li>
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="ambientale">Lumini ambientale</a>
                        </li>
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="starlight">Plafon starlight</a>
                        </li>
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="portofolio">Portofoliu</a>
                        </li>
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="about">Despre</a>
                        </li>
                        <li class="uppercase font-bold border-b-2 hover:border-primary-600 transition-all border-transparent pb-1"
                            routerLinkActive="text-secondary-500" [routerLinkActiveOptions]="{exact: true}">
                            <a routerLink="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="xl:hidden md:w-100 bg-white">
            <div class="flex py-6 justify-between items-center px-4">
                <div>
                    <img src="./../../../../assets/images/logo.png" width="250" />
                </div>
                <div class="visible flex items-center">
                    <ul id="list"
                        [ngClass]="isList ? 'slideDown p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-16':'hidden'">
                        <li
                            class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 focus:text-primary-700 focus:outline-none">
                            <a routerLink="/">
                                <span class="ml-2 font-bold">Acasa</span>
                            </a>
                        </li>
                        <li
                            class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 focus:text-primary-700 focus:outline-none">
                            <a routerLink="ambientale">
                                <span class="ml-2 font-bold">Lumini ambientale</span>
                            </a>
                        </li>
                        <li
                            class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 focus:text-primary-700 focus:outline-none">
                            <a routerLink="starlight">
                                <span class="ml-2 font-bold">Plafon starlight</span>
                            </a>
                        </li>
                        <li
                            class="flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 focus:text-primary-700 focus:outline-none flex justify-center">
                            <a routerLink="about">
                                <span class="ml-2 font-bold">Despre</span>
                            </a>
                        </li>
                        <li
                            class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 flex items-center focus:text-primary-700 focus:outline-none">
                            <a routerLink="portofolio">
                                <span class="ml-2 font-bold">Portofoliu</span>
                            </a>
                        </li>
                        <li
                            class="flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-primary-700 focus:text-primary-700 focus:outline-none flex justify-center">
                            <a routerLink="contact">
                                <span class="ml-2 font-bold">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <div class="xl:hidden">
                        <svg id="open" (click)="menuHandler(true)" aria-haspopup="true" aria-label="Main Menu"
                            xmlns="http://www.w3.org/2000/svg"
                            [ngClass]="isList ? 'hidden' : 'show-m-menu icon icon-tabler icon-tabler-menu'" width="28"
                            height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <line x1="4" y1="8" x2="20" y2="8"></line>
                            <line x1="4" y1="16" x2="20" y2="16"></line>
                        </svg>
                        <div id="close" [ngClass]="isList?'':'hidden close-m-menu'" (click)="menuHandler(false)">
                            <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>