<footer class="mt-10 bg-[#E4E7EB]">
    <div class="px-16 py-6 xs:p-6 md:px-48 md:pt-20 lg:px-72 lg:pt-24 flex justify-between">
        <div id="generalInfo">
            <div class="flex xs:text-[10px] md:text-lg" id="phoneNumber">
                <fa-icon [icon]="faPhoneSquare" class="mr-1 text-secondary-500"></fa-icon>
                <h6>+40 771 345 939</h6>
            </div>
            <div class="flex xs:text-[10px] md:text-lg" id="locationAddr">
                <fa-icon [icon]="faMap" class="mr-1 text-secondary-500"></fa-icon>
                <h6>Hatman Luca Arbore, Constanta</h6>
            </div>
            <div class="flex xs:text-[10px] md:text-lg" id="emailAddress">
                <fa-icon [icon]="faEnvelope" class="mr-1 text-secondary-500"></fa-icon>
                <h6>vladutdone@gmail.com</h6>
            </div>
            <div class="flex" id="companyName">
                <h1 class="font-black uppercase text-xl">Sound4Fun</h1>
            </div>
        </div>

        <div id="workingHoursSection">
            <div class="text-center xs:text-[10px] text-xs md:text-lg">
                <h1 class="font-black uppercase">Program de lucru</h1>
            </div>
            <div class="text-center xs:text-[10px] text-xs md:text-lg">
                <span class="font-black">L-V: </span>
                <span>18:00 - 00:00</span>
            </div>
            <div class="text-center xs:text-[10px] text-xs md:text-lg">
                <span class="font-black">S: </span><span>15:00 - 00:00</span>
            </div>
            <div class="text-center xs:text-[10px] text-xs md:text-lg">
                <span class="font-black">D: </span>
                <span>09:00 - 00:00</span>
            </div>
        </div>
    </div>

    <div class="p-6" id="socialLinks">
        <div class="flex justify-center items-center" id="socialIcons">
            <div class="mr-5 md:mr-10">
                <hr class="w-[75px] xs:w-[35px] md:w-[125px] lg:w-[225px] xl:w-[500px] border-black border-1" />
            </div>
            <div class="mr-5 md:mr-10 flex items-center">
                <img src="../../../../assets/images/facebook-icon.svg" alt="facebook-icon" class="w-[32px] h-[32px]" />
            </div>
            <div class="mr-5 md:mr-10 flex items-center">
                <img src="../../../../assets/images/instagram-icon.svg" alt="instagram-icon"
                    class="w-[32px] h-[32px]" />
            </div>
            <div class="mr-5 md:mr-10 flex items-center">
                <img src="../../../../assets/images/whatsapp-icon.svg" alt="whatsapp-icon" class="w-[32px] h-[32px]" />
            </div>
            <div class="mr-5 md:mr-10 flex items-center">
                <img src="../../../../assets/images/tiktok-icon.svg" alt="tiktok-icon" class="w-[32px] h-[32px]" />
            </div>
            <div>
                <hr class="w-[75px] xs:w-[35px] md:w-[125px] lg:w-[225px] xl:w-[500px] border-black border-1" />
            </div>
        </div>
    </div>

    <div class="text-center text-gray-400 p-6">
        <h1>Copyright © 2022, SOUND4FUN. All rights reserved | Powered by Matei Daniel</h1>
    </div>
</footer>