<div class="w-full bg-grey">
    <div class="py-0 md:py-6 mx-auto px-6 container">
        <div class="hidden xl:flex xl:justify-between md:flex md:justify-end mx-auto space-x-10">
            <div class="hidden xl:flex xl:w-8/12 hover:cursor-pointer" routerLink="/">
                <img src="./../../../../assets/images/logo.png" width="250" />
            </div>
            <div id="mediaDiv">
                <div class="text-2xl flex items-center" id="mediaIcon">
                    <mat-icon class="mr-1 text-secondary-500">place</mat-icon>
                    <h6 class="font-bold">Locatie</h6>
                </div>
                <div id="mediaBody">
                    <p class="text-gray-400">str. Hatman Luca Arbore</p>
                </div>
            </div>
            <div id="mediaDiv">
                <div class="text-2xl flex items-center" id="mediaIcon">
                    <mat-icon class="mr-1 text-secondary-500">contact_phone</mat-icon>
                    <h6 class="font-bold">Telefon</h6>
                </div>
                <div id="mediaBody">
                    <p class="text-gray-400">+40 771 345 939</p>
                </div>
            </div>
        </div>
    </div>
</div>